nav {
  ol {
    display: flex;
    flex-wrap: wrap;
  }
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;    
    width: 100%;
    background: $grey-pale;
    border-radius: 5px;

    @include desktop {
      margin-right: 1%;
      max-width: 24%;

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
  a {
    display: block;
    padding: 20px;
    width: 100%;
    text-align: center;

    @include desktop {
      padding: 30px;
    }
  }
}