:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px;
}

img {
  padding: var(--spacing);
  max-width: 100%;
  background: var(--base);
  filter: blur(var(--blur));
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 10px;

  input {
    margin-left: 10px;
  }
}

input {
  width: 100px;
}