.arrayCardioSection {
  margin-bottom: 30px;
}

.inventorDetails {
  margin-top: 10px;

  span:not(:last-child){
    margin-right: 8px;
    padding-right: 8px;
    width: 100px;
    border-right: 1px solid rgba(#000000, .5);
  }
}